*{
    margin: 0;
    font-family: arial;
    border: border-box;
}

.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
body{
    background-color: #6d7272;
}
/* navbar section */

/* BOX1 */

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}


.nvalogo{
    height: 30px;
    width: 100px;
 

}
.logo{
    background-image: url(Image/WhatsApp\ Image\ 2025-11-17\ at\ 12.12.30\ PM.jpeg);
    background-size: contain;
    width: 100%;
    height: 30px;
  
}

/* addres  */

.addres{
  
}

.divler-add{
    font-size: 12px;
    color: #cccccc;
    margin-left: 21px;

}
.loction{
    font-size: 14px;
    color: white;

}

/* serach */

.search{
    display: flex;
    height: 40px;
    width: 300px;
    background-color: rgb(227, 148, 0);
    border-radius: 4px;
  
    
}
#glass{
    
    color: #0F1111;
}
.option{
    background-color: #c3c2c2;
    text-align: center;
    border-bottom-left-radius:4px;
    border-top-left-radius:4px;
    border: none;
}
.search-input{
      background-color: #ffffff;
      color: #0F1111;
      font-size: 1rem;
      width: 100%;
      border: none;
}

.serach-icon{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center
}

/* sing in and account */
.heloo{
    font-size: 12px;
}
.account{
    font-size: 14px;
}

/* box2 */
.section-bar{
    height: 39px;
    background-color: #222a2a;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu{
    font-size: 14px;
    color
    : white;
}
.section-items{
    display: flex;
    font-size: 14px;
    color : white;

}

/* hero section */
.hero-image{
    height: 250px;
    background-image: url(Image/herosection.png);
    background-size: cover
}

/* box1 */
@keyframes boxAnimate {
    from{height: 200px;
         width: 200px;
        }
    to {height: 250px;
        width: 250px;
        }
}

.hero-box-section{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 15px;
}

.box-item-1{
    height: 200px;
    width: 200px;
    background-color: white;
    color: #0F1111;
    text-align: center;
    font-size: 21px;
    padding-top: 20px;
    padding-bottom: 15px;
    
}

.box-item-1:hover{
    animation: boxAnimate 2s ease-in 1s infinite
}
#see{
    font-size: 12px;
    position: relative;
    bottom: -150px;
}

.box1{
    height: 100px;
    width: 100px;
    background-image: url(Image/toys.webp);
    background-size: cover;
    position: relative;
    left: 50px;
}

.box-item-2{
    height: 200px;
    width: 200px;
    background-color: white;
    color: #0F1111;
    text-align: center;
    font-size: 21px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.box-item-2:hover{
    animation: boxAnimate 2s ease-in 1s infinite
}
#see{
    font-size: 12px;
    position: relative;
    bottom: -150px;
}

.box2{
    height: 100px;
    width: 100px;
    background-image: url(Image/furniture.webp);
    background-size: cover;
    position: relative;
    left: 50px;
}

.box-item-3{
    height: 200px;
    width: 200px;
    background-color: white;
    color: #0F1111;
    text-align: center;
    font-size: 21px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.box-item-3:hover{
    animation: boxAnimate 2s ease-in 1s infinite
}
#see{
    font-size: 12px;
    position: relative;
    bottom: -150px;
}

.box3{
    height: 100px;
    width: 100px;
    background-image: url(Image/kitchenproduct.webp);
    background-size: cover;
    position: relative;
    left: 50px;
}

.hero-box-section1{
    display: flex;
    justify-content: space-evenly;
    position: relative;

}
.box-item-4{
    height: 200px;
    width: 200px;
    background-color: white;
    color: #0F1111;
    text-align: center;
    font-size: 21px;
    padding-top: 20px;
    padding-bottom: 15px;
}
.box-item-4:hover{
    animation: boxAnimate 2s ease-in 1s infinite
}
#see{
    font-size: 12px;
    position: relative;
    bottom: -150px;
}

.box4{
    height: 100px;
    width: 100px;
    background-image: url(Image/skincare.webp);
    background-size: cover;
    position: relative;
    left: 50px;
}

.box-item-5{
    height: 200px;
    width: 200px;
    background-color: white;
    color: #0F1111;
    text-align: center;
    font-size: 21px;
    padding-top: 20px;
    padding-bottom: 15px;
}
.box-item-5:hover{
    animation: boxAnimate 2s ease-in 1s infinite
}
#see{
    font-size: 12px;
    position: relative;
    bottom: -150px;
}

.box5{
    height: 100px;
    width: 100px;
    background-image: url(Image/shoes.webp);
    background-size: cover;
    position: relative;
    left: 50px;
}

.box-item-6{
    height: 200px;
    width: 200px;
    background-color: white;
    color: #0F1111;
    text-align: center;
    font-size: 21px;
    padding-top: 20px;
    padding-bottom: 15px;
}
.box-item-6:hover{
    animation: boxAnimate 2s ease-in 1s infinite
}
#see{
    font-size: 12px;
    position: relative;
    bottom: -150px;
}

.box6{
    height: 100px;
    width: 100px;
    background-image: url(Image/boyes\ clothes.webp);
    background-size: cover;
    position: relative;
    left: 50px;
}

/* footer */

.footer-top{
    height: 49px;
    background-color: #2e3a48;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.footer-top-second{
    height: 300px;
    background-color:#131920 ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ul-1{
    font-size: 16px;
    color: white;
}
.ul-2{
    font-size: 16px;
    color: white;
}

.ul-3{
    font-size: 16px;
    color: white;
}

.ul-4{
    font-size: 16px;
    color: white;
}

.li{
    text-decoration: none;
    color: rgb(176, 168, 168);
}


.foter-thrid-box{
    height: 250px;
    background-color: #1c1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul-1-box{
    display: flex;
    justify-content: center;
    
    
}

.ul-2-box{
    display: flex;
    justify-content: center;

    
}
.ul-same{
    color: white;
    font-size: 12px;

}
.a-same{
    color: #aca5a5;
    font-size: 12px;
    text-decoration: none;
}
.last{
    display: flex;
    justify-content: center;
    color:white;
}
.last-line{
    display: flex;
    justify-content: center;
    color: white;
}